.mm-des-row {
  display: grid;
  grid-template-columns: 28px 1fr 1.4fr;
  gap: 6px;
  align-items: center;
  margin-bottom: 6px;
}

.mm-mus-row {
  display: grid;
  grid-template-columns: 28px 1fr 1fr;
  gap: 6px;
  align-items: center;
  margin-bottom: 6px;
}
